@font-face {
    font-family: 'space-mono-bolditalic';
    src: url('../fonts/space-mono/spacemono-bolditalic-webfont.woff2') format('woff2'),
        url('../fonts/space-mono/spacemono-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space-mono';
    src: url('../fonts/space-mono/spacemono-regular-webfont.woff2') format('woff2'),
        url('../fonts/space-mono/spacemono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space-mono-italic';
    src: url('../fonts/space-mono/spacemono-italic-webfont.woff2') format('woff2'),
        url('../fonts/space-mono/spacemono-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
        url('../fonts/poppins/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}